#!/bin/bash

###################################################################
# Purpose : This file contains all the generic and specific aliases
# Author  : Shreyas Patil
# Created : 04-Oct-2015
###################################################################

# General purpose command aliases
alias cl='clear'
alias src='source $ZSH/oh-my-zsh.sh'

# Git command Aliases 
alias gis='git status'             # Git branch status
alias gpu='git push origin master' # Git push changes to origin master branch
alias gpl='git pull origin master' # Git Pull changes from origin master branch
alias glo='git log --use-mailmap'  # Git Log for past commits
